$main-color: #152a38;
$second-color: #386085;
$light-blue: #6db9ff;

$grenen-color: #4b7647;
$deep-green: #89af5d;
$light-green: #8bb55b;
// $accent-color: #c2cec2;
$accent-color: #afb4af;
$text-color: #636363;

// $light-green: #94968e;
