$main-color: #152a38;
$second-color: rgb(56, 96, 133);

$grenen-color: #597d56;
$deep-green: #2e392f;

// $accent-color: #c2cec2;
$accent-color: #afb4af;
$text-color: #636363;

// $light-green: #94968e;
