*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 82px;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-family: "Prompt", sans-serif;
  background-color: whitesmoke;
}

nav {
  background-color: rgb(21, 42, 56);
  text-transform: uppercase;
  z-index: 1;
}
nav .nav-link,
nav .fa-solid {
  color: #afb4af;
  font-size: 20px;
  margin: 0 15px;
}
nav .nav-link:hover, nav .nav-link:active,
nav .fa-solid:hover,
nav .fa-solid:active {
  color: #597d56;
}
nav .nav-link:focus,
nav .fa-solid:focus {
  color: #afb4af;
}
nav .fas {
  font-weight: 900;
  color: #597d56;
  padding: 5px;
}
nav .navbar-nav .nav-link.active {
  color: #597d56;
}
nav a.navbar-brand {
  color: white;
  font-size: 40px;
}
nav a.navbar-brand span {
  color: #596a45;
}
nav .navbar-brand:hover {
  color: #597d56;
}

header {
  color: black;
}
header .hero-img {
  background-image: url("/img/Hero.jpg");
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.26);
  z-index: -2;
}
header .hero-heading {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  margin-left: 10%;
  padding: 105px;
  z-index: 5;
}
header .hero-heading p {
  color: #afb4af;
  letter-spacing: 5px;
}
header .hero-heading h1,
header .hero-heading h2 {
  font-size: 85px;
  color: rgb(56, 96, 133);
}
header .hero-heading span {
  color: #597d56;
}
header .hero-heading h4 {
  margin-top: 20px;
  width: 50%;
  font-size: 15px;
  color: white;
  letter-spacing: 2px;
  line-height: 24px;
}
header .btn {
  padding: 11px 30px;
  border-radius: 30px;
  border-color: rgb(56, 96, 133);
  background-color: rgb(56, 96, 133);
  color: white;
  font-size: 16px;
  margin-top: 50px;
  transition: transform 0.3s ease;
}
header .btn:hover {
  background-color: rgb(83, 150, 124);
  box-shadow: 8px 8px 46px 4px rgb(83, 150, 124);
  color: white;
  transform: scale(1.1);
}
header :not(.btn-check) + .btn:active {
  border-color: rgb(62, 224, 162);
  background-color: rgb(62, 224, 162);
  color: white;
}
header .fas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  font-size: 30px;
  color: #152a38;
}

section .head-img {
  background-image: url("/img/wallplaster2.jpg");
  position: relative;
  height: 40vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}
section .head-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 105, 144, 0.568);
  z-index: -2;
}
section .row {
  padding: 5% 0;
}
section .row span {
  color: white;
  font-size: 25px;
}
section .row h1 {
  padding-top: 20px;
  color: #152a38;
}
section .row p {
  color: white;
  line-height: 30px;
}

article .aboutus-title,
article .services-title,
article .portfolio-title,
article .contact-title {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-top: 7%;
  color: #afb4af;
}
article .aboutus-title h1,
article .services-title h1,
article .portfolio-title h1,
article .contact-title h1 {
  color: rgb(56, 96, 133);
  font-size: 25px;
  margin-top: 5px;
}
article .aboutus-foto,
article .services-foto,
article .contact-foto {
  display: flex;
  justify-content: space-evenly;
}
article .aboutus-foto .card,
article .services-foto .card,
article .contact-foto .card {
  box-shadow: 8px 8px 31px -13px rgb(66, 68, 90);
  padding: 20px;
}
article .aboutus-foto p.card-text,
article .services-foto p.card-text,
article .contact-foto p.card-text {
  color: rgb(56, 96, 133);
}
article .aboutus-description,
article .services-description,
article .contact-description {
  color: rgb(56, 96, 133);
}
article .aboutus-description h2,
article .services-description h2,
article .contact-description h2 {
  margin: 29px 0 5px 0;
  font-size: 25px;
}
article .aboutus-description p,
article .services-description p,
article .contact-description p {
  color: #636363;
  font-size: 16px;
}
article .services-end {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: 80px 0;
}
article .services-end h1 {
  color: rgb(56, 96, 133);
  font-size: 40px;
}
article .services-end p {
  color: #597d56;
  margin-top: 10px;
}
article .services-end .btn {
  padding: 11px 30px;
  border-radius: 30px;
  border-color: rgb(56, 96, 133);
  background-color: rgb(56, 96, 133);
  color: white;
  font-size: 16px;
  margin-top: 50px;
  transition: transform 0.3s ease;
}
article .services-end .btn:hover {
  background-color: rgb(83, 150, 124);
  box-shadow: 8px 8px 46px 4px rgb(83, 150, 124);
  color: white;
  transform: scale(1.1);
}
article .services-end .fa-solid,
article .services-end .fas {
  padding: 5px;
  margin-right: 10px;
}
article .carousel {
  padding: 5%;
}
article .space {
  margin-top: 15%;
  margin-bottom: 10%;
}
article .portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 5%;
}
article .form-box {
  display: grid;
  justify-items: center;
  color: rgb(12, 10, 10);
  margin: 35px 0;
}
article .form-box h3 {
  font-size: 35px;
  margin-bottom: 35px;
}

@media (max-width: 768px) {
  header .hero-text {
    padding: 0;
    margin-top: 10px;
  }
  header .hero-text h1,
  header .hero-text h2 {
    font-size: 35px;
  }
  header .hero-text span {
    color: #597d56;
  }
  header .hero-text h4 {
    margin-top: 10px;
    width: 50%;
    font-size: 12px;
  }
}
@media (max-width: 414px) {
  header .hero-heading {
    padding: 0;
    margin-top: 10px;
  }
  header .hero-heading h1,
  header .hero-heading h2 {
    font-size: 55px;
  }
  header .hero-heading p {
    margin-top: 65px;
  }
  header .hero-heading h4 {
    margin-top: 10px;
    font-size: 15px;
  }
}
@media (max-width: 375px) {
  header .hero-heading p {
    margin-top: 65px;
  }
  header .hero-heading h1,
  header .hero-heading h2 {
    font-size: 35px;
  }
  header .hero-heading h4 {
    letter-spacing: 0;
    line-height: normal;
    font-size: 13px;
  }
  header .btn {
    padding: 7px 21px;
    font-size: 14px;
    margin-top: 26px;
  }
}
@media (max-width: 320px) {
  header .hero-heading h1,
  header .hero-heading h2 {
    font-size: 25px;
  }
  header h4 {
    font-size: 12px;
  }
  header .btn {
    padding: 5px 15px;
    margin-top: 24px;
  }
}/*# sourceMappingURL=main.css.map */